*{
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
}
header{
    margin-top: 60px;
    margin-bottom: 50px;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .b ul{
    display: flex;
    gap: 34px;
}
nav .b ul li{
    list-style: none;
}
nav h1{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: bold;
}
nav li{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    cursor: pointer;
}
nav li:hover{
    color: #E02C6D;
}
#first-container .content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 130px;
    margin-bottom: 80px;
}
#first-container .content .a{
    max-width: 585px;
    align-items: center;
}
#first-container .content .a h1{
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
#first-container .content .a p{
    max-width: 508px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 17px;
}
#first-container .content .a button{
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
#first-container .content .a button:hover{
    background-color: deepskyblue;
}
#first-container .content .b img{
    background-image: url('logos/Group\ 33091.svg');
    background-position: center;
    background-size: cover;
}
#logo .lg{
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 100px;
}
#logo .lg ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo .lg ul li{
    list-style: none;
    cursor: pointer;
}

#box-container{
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#box-container .p h1{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 40px;
}
#box-container .a{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#box-container .a .b{
    max-width: 330px;
    padding: 17px 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0 #000000;
    cursor: pointer;
}
#box-container .a .b:hover{
    background-color: rgb(235, 158, 184);
}
#box-container .a .b img{
    border-radius: 8px;
    margin-bottom: 16px;
}
#box-container .a .b h6{
    font-size: 1.75rem;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 6px;
}
#box-container .a .b div .fa-regular{
    color: rgb(255, 123, 0);
    margin-bottom: 10px;
}
#box-container .a .b p{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 143%;
    color: #787885;
}
#box-container .a .b .f{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    margin-bottom: 8px;
}
#s{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}
#s h4{
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
#s h4:hover{
    background-color: deepskyblue;
    color: black;
}
#last-container{
    max-width: 1115px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-bottom: 100px;
}
#last-container .a img{
    width: 420px;
}
#last-container .b h1{
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}
#last-container .b p{
    max-width: 503px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
#last-container .b button{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 5px;
    cursor: pointer;
}
#last-container .b button:hover{
    background-color: deepskyblue;
}
footer{
    background-color: #041E42;
    padding: 50px 565px;
}
#last{
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}
#last ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 17px;
}
#last ul li{
    padding: 3px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}
#last ul li:hover{
    background-color: rgb(47, 255, 64);
}
#last h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
#last p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #D9DBE1;
}